@model IEnumerable<ContactAppFinal.Models.User>

@{
    ViewBag.Title = "ViewAdmins";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<h2>ViewAdmins</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>

        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => user.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LName)
            </td>
            <td>
                <input type="checkbox" class="toggle-active" data-id="@user.Id" @(user.IsActive ? "checked" : "") />
            </td>
            <td>
                <input type="checkbox" class="toggle-admin" data-id="@user.Id" @(user.IsAdmin ? "checked" : "") />
            </td>
            <td>
                <a href="@Url.Action("Edit", "Admin", new { id = user.Id })" class="btn btn-primary">Edit</a>
            </td>

        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/Crud.js"></script>
